.ServicesContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 226, 236);
    .Services{
        margin-top: 3rem;
        gap: 4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .ContainerButton{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 2rem;
            .ButtonService{
                text-align: center;
                width: 13rem;
                height: 10rem;
                border: 0px;
                border-radius: 10px;
                margin-bottom: 3rem;
                background-color: rgba(245, 245, 220, 0.918);
                h3{
                    font-size: 20px;
                }
            }
            .ButtonService:hover{
                box-shadow: inset -6.5em 0 0 0 white, 
                inset 6.5em 0 0 0 white, 10px 5px 10px rgba(255, 217, 0, 0.671);
                transition: 0.5s;
            }
        }
        
    }
}