.FormContact{
    display: flex;
    justify-content: center;
    background-color: #f4eff0;
    .Contact{  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
.contac-form{
    width: 35rem;
    padding: 3rem;
    background-color: #d8c9cd;
    border-radius: 3rem;
    .li-form{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        input{
            border-radius: 5px;
            height: 2rem;
            border: 1px;
        }
    }
    .input{
        margin-top: 1rem;
        width: 29rem;
        height: 4rem;
        border: 2px;
        background-color: #916d7b;
    }
    .input:hover{
        /*background-color: rgba(224, 224, 204, 0.644);
        transition: 1s;*/
        box-shadow: inset -15em 0 0 0 #eae1e4, 
                inset 15em 0 0 0 #eae1e4, 0px 5px 10px #58434d;
                transition: 0.5s;
    }
}

@media screen and (max-width: 1024px){
.contac-form{
    width: 17rem;
}
.input{
    width: 11rem !important;
}
}