.FormContact{
    display: flex;
    justify-content: center;
    background-color: rgb(238, 226, 236);
    .Contact{  
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}
.contac-form{
    width: 35rem;
    padding: 3rem;
    background-color: rgba(245, 245, 220, 0.918);
    border-radius: 3rem;
    .li-form{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        input{
            border-radius: 5px;
            height: 2rem;
            border: 1px;
        }
    }
    .input{
        margin-top: 1rem;
        width: 29rem;
        height: 4rem;
        border: 2px;
        background-color: rgb(216, 216, 158);
    }
    .input:hover{
        background-color: rgba(224, 224, 204, 0.644);
        transition: 1s;
    }
}

@media screen and (max-width: 1024px){
.contac-form{
    width: 17rem;
}
.input{
    width: 11rem !important;
}
}